[submodule "PokeD.Core"]
	path = PokeD.Core
	url = https://github.com/PokeD/PokeD.Core
	branch = master
[submodule "PokeD.BattleEngine"]
	path = PokeD.BattleEngine
	url = https://github.com/PokeD/PokeD.BattleEngine.git
[submodule "kolben"]
	path = kolben
	url = https://github.com/PokeD/kolben
